# URL do Banco
DATABASE_URL="url"
DIRECT_URL="url"
# Porta onde o servidor vai rodar
PORT=3001

JWT_SECRET= "JWT_SECRET"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="url"

CLOUDINARY_CLOUD_NAME=url
CLOUDINARY_API_KEY=url
CLOUDINARY_API_SECRET=xurl
