.header {
  background: transparent;
  position: relative;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #121a36 20%,
    rgba(250, 105, 19, 0.6) 160%
  );
}

.headerContent {
  padding: 1rem 2rem;
  height: 5rem;
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titleLogo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  color: #b5a375;
  cursor: pointer;
  margin: 0;
  letter-spacing: -1px;
}

/* Estilização do botão de Login/Entrar */
.loginBtn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #b5a375 !important;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 120px;
}

.loginBtn:hover {
  background-color: #ffffff;
  color: #121a36;
}

/* Botão de Adicionar (quando logado) */
.addBtn {
  background-color: #cc4b00;
  color: white;
  border: none;
  padding: 0.7rem 0.9rem 0.7rem 0.7rem;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s;
  width: 160px;
  min-width: 130px;
  justify-content: center;
}

.addBtn:hover {
  transform: scale(1.05);
  background-color: #e65500;
}

.actions {
  display: flex;
  gap: 1rem; /* Espaço entre Adicionar e Sair */
  align-items: center;
}

.logoutBtn {
  /* background-color: transparent; */
  background-color: #121a36;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  width: 160px;
  min-width: 90px;
  justify-content: center;
}

.logoutBtn:hover {
  transform: scale(1.05);
  background-color: transparent;
  border-color: #cc4b0064;
}

.subtitle {
  display: flex;

  padding: 10px 0;
  color: #b5a375;
  font-size: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.55;
  justify-content: center;
}

.titleAlum {
  margin-top: 0.6rem;
  /* font-family: 'Open Sans', Arial, sans-serif; */
  font-size: 1.6rem;
  font-weight: 800;
}

.logoWrapper {
  margin-right: 12px;

  transform: translateY(10%);
  z-index: 10;
}

@media (max-width: 900px) {
  .titleLogo {
    font-size: 0rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .titleLogo img {
    width: 70px;
    height: 80px;
    margin-right: 8px;
  }
}

@media (max-width: 700px) {
  .titleAlum {
    font-size: 0rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .titleLogo img {
    width: 56px;
    height: 70px;
  }
  .logoWrapper {
    transform: translateY(0%);
  }
}

@media (max-width: 500px) {
  .addBtn {
    width: 150px;
  }
  .logoutBtn {
    width: 90px;
  }
  .titleLogo img {
    width: 50px;
    height: 60px;
  }
}
