.header {
  background-color: #121a36;
  position: relative;
  /* padding: 1rem 2rem; */
  /* border-bottom: 2px solid #cc4b00;  */
  width: 100%;
}

.headerContent {
  background-color: #121a36;
  padding: 1rem 2rem;
  height: 5rem;
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titleLogo {
  display: flex;
  justify-content: center;

  align-items: flex-start;
  gap: 1rem;
  color: #ffffff; /* Texto branco para contraste */
  cursor: pointer;
  margin: 0;
  letter-spacing: -1px;
}

/* Estilização do botão de Login/Entrar */
.loginBtn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #b5a375 !important;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginBtn:hover {
  background-color: #ffffff;
  color: #121a36;
}

/* Botão de Adicionar (quando logado) */
.addBtn {
  background-color: #cc4b00;
  color: white;
  border: none;
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.addBtn:hover {
  transform: scale(1.05);
  background-color: #e65500;
}

.actions {
  display: flex;
  gap: 1rem; /* Espaço entre Adicionar e Sair */
  align-items: center;
}

.logoutBtn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.logoutBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ffffff;
}

.subtitle {
  display: flex;

  padding: 10px 0;
  color: #b5a375;
  /* color: #ffffff; */
  font-size: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.55;
  background-position: center center;
  background-image: linear-gradient(
    to bottom,
    rgba(28, 33, 67, 0.1),
    rgba(250, 105, 19, 0.6)
  );
  background-position: 2%;
  justify-content: center;
}

.titleAlum {
  margin-top: 0.6rem;
  /* font-family: 'Open Sans', Arial, sans-serif; */
  font-size: 1.6rem;
  font-weight: 400;
}

.logoWrapper {
  margin-right: 12px;

  transform: translateY(10%);
  z-index: 10;
}

@media (max-width: 900px) {
  .titleLogo {
    font-size: 0rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .titleLogo img {
    width: 70px;
    height: 60px;
    margin-right: 8px;
  }
}

@media (max-width: 700px) {
  .titleAlum {
    font-size: 0rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .titleLogo img {
    width: 40px;
    height: 50px;
  }
}
